---
import { infPrice } from "../../../backend.mjs";
import Base from "../../../layouts/Base.astro";
import Card from "../../../components/Card.astro";

const { prix } = Astro.params;
const offres = await infPrice(prix);
if (!offres) {
    return Astro.redirect("/offres");
}
---

<Base>
    <h1 class="p-8 font-bold text-xl">Maisons moins chers que {prix}€</h1>
    <div class="flex flex-wrap pb-8">
        {offres.map((offre) => <Card {...offre} />)}
    </div>
</Base>
