---
---
<div class="p-4 bg-gray-800 text-white font-semibold uppercase">
    <nav class="flex gap-6">
        <a href="/">Accueil</a>
        <a href="/offres">Offres</a>
        <a href="/agent">Agents</a>
    </nav>
</div>
