---
import { getOffre } from '../../backend.mjs';
import Base  from '../../layouts/Base.astro';

const { id } = Astro.params;
const offre = await getOffre(id);
if(!offre){
   return Astro.redirect('/offres');
}
---

<Base titre={offre.Nom}>
    <h2>{offre.Nom}</h2>
    <ul>
        <li>{offre.Adresse}</li>
        ...
    </ul>
</Base>
