---
import Base from "../../layouts/Base.astro";
import Card from "../../components/Card.astro";
import { getOffres, filterByPrix } from "../../backend.mjs";
let message = "";
let offres = [];
if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    const minPrix = parseInt(data.get("minPrix") as string);
    const maxPrix = parseInt(data.get("maxPrix") as string);

    if (minPrix > 0 && maxPrix > 0 && maxPrix > minPrix) {
        offres = await filterByPrix(minPrix, maxPrix);
        if (offres.length === 0) {
            message = `Pas d'offres entre ${minPrix}€ et ${maxPrix}€`;
        } else {
            message = `Liste des offres entre ${minPrix}€ et ${maxPrix}€`;
        }
    } else {
        message = "Veuillez entrer des valeurs valides pour le prix.";
        offres = await getOffres();
    }
} else {
    console.log("GET");

    offres = await getOffres();
}
---

<Base titre="Offres">
    <h1 class="p-10 font-bold text-5xl text-center uppercase text-gray-800">
        Offres
    </h1>
    <div class="p-4">
        <form class="flex gap-4" action="/offres" method="POST">
            <input
                class="p-2 border border-slate-300"
                type="number"
                name="minPrix"
                placeholder="Prix minimum"
            />
            <input
                class="p-2 border border-slate-300"
                type="number"
                name="maxPrix"
                placeholder="Prix maximum"
            />
            <input
                class="bg-slate-500 p-2 rounded-lg text-white font-semibold"
                type="submit"
                value="Filtrer par prix"
            />
        </form>
    </div>
    <div class="p-12">
        <button class="p-4 bg-gray-800 rounded-2xl text-white font-semibold"
            ><a class="text-5xl" href="/offres/add">Créer une offre</a></button
        >
    </div>
    <div x-data="{ showFavorites: true, col: true }">
        <div class="flex">
            <button
                class="p-4 bg-gray-800 ml-8 rounded-2xl text-white font-semibold"
                @click="showFavorites = !showFavorites"
            >
                <span x-show="showFavorites">Afficher les favoris</span>
                <span x-show="!showFavorites">Afficher tout</span>
            </button>
            <button
                class="p-4 bg-gray-800 ml-8 rounded-2xl text-white font-semibold relative flex-row"
                @click="col = !col"
            >
                <span x-show="col">Afficher en colonne</span>
                <span x-show="!col">Afficher en liste</span>
            </button>
        </div>
        <div
            x-show="showFavorites"
            x-transition.duration.500ms
            class="grid grid-cols-3 gap-4"
        >
            {offres.map((offre) => <Card {...offre} />)}
        </div>
        <div
            x-show="!showFavorites"
            x-transition.duration.500ms
            class="grid grid-cols-3 gap-4"
        >
            {offres.map((offre) => offre.Favori && <Card {...offre} />)}
        </div>
        <div class="flex justify-center">
            <button
                class="relative p-4 m-8 bg-slate-300 rounded-xl
                        font-semibold"
                ><a href={`/offres/surface/${80}`}
                    >Maisons avec une superficie supérieur à 80m²
                </a></button
            >
            <button
                class="relative p-4 m-8 bg-slate-300 rounded-xl
                        font-semibold"
                ><a href={`/offres/prix/${4000}`}
                    >Maisons au prix inférieur à 4000€
                </a></button
            >
            <button
                class="relative p-4 m-8 bg-slate-300 rounded-xl
                        font-semibold"
                ><a href={`/offres/price_inbetween/${4000}_${5000}`}
                    >Maisons au prix compris entre 4000€ et 5000€
                </a></button
            >
        </div>
    </div>
</Base>
