---
import Base from "../../layouts/Base.astro";
import Card from "../../components/Card.astro";
import { allMaisons } from "../../backend.mjs";
const offres = await allMaisons();
---

<Base titre="Offres">
    <h1 class="p-10 font-bold text-5xl text-center uppercase text-gray-800">
        Offres
    </h1>
    <div x-data="{ showFavorites: true, col: true }">
        <button
            class="p-4 bg-gray-800 ml-8 rounded-2xl text-white font-semibold"
            @click="showFavorites = !showFavorites"
        >
            <span x-show="showFavorites">Afficher les favoris</span>
            <span x-show="!showFavorites">Afficher tout</span>
        </button>
        <button
            class="p-4 bg-gray-800 ml-8 rounded-2xl text-white font-semibold relative flex-row"
            @click="col = !col"
        >
            <span x-show="col">Afficher en colonne</span>
            <span x-show="!col">Afficher en liste</span>
        </button>

        <div x-show="showFavorites" x-transition.duration.500ms>
            {offres.map((offre) => <Card {...offre} />)}
        </div>
        <div x-show="!showFavorites" x-transition.duration.500ms>
            {offres.map((offre) => offre.Favori && <Card {...offre} />)}
        </div>
        <div class="flex justify-center">
            <button
                class="relative p-4 m-8 bg-slate-300 rounded-xl
                        font-semibold"
                ><a href={`/offres/surface/${80}`}
                    >Maisons avec une superficie supérieur à 80m²
                </a></button
            >
            <button
                class="relative p-4 m-8 bg-slate-300 rounded-xl
                        font-semibold"
                ><a href={`/offres/prix/${4000}`}
                    >Maisons au prix inférieur à 4000€
                </a></button
            >
            <button
                class="relative p-4 m-8 bg-slate-300 rounded-xl
                        font-semibold"
                ><a href={`/offres/price_inbetween/${4000}_${5000}`}
                    >Maisons au prix compris entre 4000€ et 5000€
                </a></button
            >
        </div>
    </div>
</Base>
