---
import Base from "../../layouts/Base.astro";
import CardAgent from "../../components/CardAgent.astro";
import { getAgents } from "../../backend.mjs";
let agents = [];
agents = await getAgents();
---

<Base titre="Agents">
    <h1 class="p-10 font-bold text-5xl text-center uppercase text-gray-800">
        Les Agents
    </h1>

    <div class="grid grid-cols-3 gap-4"
    >
        {agents.map((agent) => <CardAgent {...agent} />)}
    </div>
</Base>
